accelerate==0.22.0
bitsandbytes==0.41.1
fastapi==0.103.0
huggingface-hub==0.16.4
langchain==0.0.276
numpy==1.24.4
Pillow==10.0.0
requests==2.31.0
sympy==1.12
tiktoken==0.4.0
tokenizers==0.13.3
torch==2.0.1
torchaudio==2.0.2
torchvision==0.15.2
transformers==4.32.1
uvicorn==0.23.2
